:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;
  --color-theme: #00da36;
  --color-accent: #ffa94d;
  --color-wrong: #df2302;
}

@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-light);
  background-color: var(--color-darkest);
  padding: 3.2rem;
  padding-bottom: 6rem;
  font-size: 1.6rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 55rem;
}

.app-header {
  display: flex;
  align-items: center;
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

img {
  width: 14rem;
}

h1 {
  font-family: "Codystar";
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-medium);
}

progress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
  margin: 8px 8px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  width: 100%;
  text-align: right;
}

.btn-option.correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-light);
}
.btn-option.wrong {
  /* background-color: var(--color-accent);
  border: 2px solid var(--color-accent); */
  color: var(--color-darkest);
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btn-next {
  margin-left: auto;
}
.btn-previous {
  margin-right: auto;
  margin-left: 0;
}
.btn-change {
  margin: auto;
}

.answer {
  background-color: var(--color-wrong);
  transform: translateX(-2rem);
}

.result {
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;

  color: var(--color-medium);
  font-size: 1.4rem;
}

.timer {
  float: left;
  font-size: 1.8rem;
  color: var(--color-medium);
  border: 2px solid var(--color-dark);
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* ********** */
/* First counter example */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 6rem;
}

.counter * {
  font-size: inherit;
  padding: 0.8rem;
}

.to-right {
  text-align: right;
  align-content: center;
}

.q {
  text-align: center;
  text-shadow: 3px 0px 7px rgba(22, 18, 4, 0.8),
    -3px 0px 7px rgba(12, 10, 2, 0.8), 0px 4px 7px rgba(5, 4, 0, 0.8);
}
/* .category-buttons {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
}
.category-buttons .btn-ui {
  flex: 1 1 calc(10%);
  box-sizing: border-box;
  min-width: 110px;
  margin: 5px;
} */
.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  direction: rtl;
}

.category-buttons .btn-ui {
  flex: 1 1 calc(25% - 10px); /* 25% width minus margin for 4 buttons per row */
  box-sizing: border-box;
  margin: 5px;
  text-align: center;
}
.restart {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-dark);
  float: right;
}

#logoHashmal {
  width: 9rem;
}

/* LOGIN COMPONENT */
.login-container {
  margin: 0 auto;
  padding: auto;
  max-height: fit-content;
  width: auto;
  font-family: "Poppins", sans-serif;
}

.login-inner {
  max-width: 400px;
  margin: 0 auto;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.login-title {
  font-size: 4.5rem;
  font-weight: 500;
  color: #e49800;
  text-shadow: 0px 0px 3px rgb(255, 183, 0);
}

.login-subtitle {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  color: #cfcfce93;
}

.login-form-wrapper {
  margin-top: 1rem;
  background-color: rgb(224, 224, 224);
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgba(105, 105, 105, 0.842);
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.login-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.login-input::placeholder {
  font-size: 1.3rem;
  opacity: 0.5;
}

.login-button-container {
  display: flex;
  margin-top: 1.5rem;
}

.login-button {
  width: fit-content;
  background-color: #f1b100;
  color: rgb(242, 242, 242);
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  border: 2px solid #f1b100;
  border-radius: 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgb(224, 224, 224);
  color: #f1b100;
}

.login-error {
  color: #ef4444;
  font-size: 0.875rem;
}

.my-button {
  background: none;
  border: none;
  color: var(--color-light);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-home-button:hover {
  color: var(--color-accent);
}

.logout-button:hover {
  color: #c65959;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--color-darkest);
  color: #d1d1d18f;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  z-index: 100;
}

.footer-text {
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  gap: 0.3rem;
}

.footer-icon {
  color: #d1d1d18f;
  transition: all 0.2s ease-in-out;
}

.footer-icon:hover {
  color: #ffac27;
  transform: scale(1.1);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .main {
    width: 90%;
  }

  .category-buttons {
    flex-wrap: wrap;
  }

  .category-buttons .btn-ui {
    flex-basis: calc(
      25% - 10px
    ); /* 25% width minus margin for 4 buttons per row */
    min-width: auto;
    margin: 5px;
  }
  h1 {
    font-size: 2.5rem; /* Adjust as needed */
  }

  h2 {
    font-size: 2rem; /* Adjust as needed */
  }

  h3 {
    font-size: 1.7rem; /* Adjust as needed */
  }

  h4 {
    font-size: 1.5rem; /* Adjust as needed */
  }

  .btn-option {
    font-size: 1.2rem; /* Adjust as needed */
  }

  img {
    width: 8rem; /* Adjust as needed */
  }
}

@media screen and (max-width: 576px) {
  .app-header {
    width: 100%;
  }
  .main {
    width: 100%;
  }

  .category-buttons .btn-ui {
    flex-basis: calc(50% - 10px);
  }
  h1 {
    font-family: "Codystar";
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
  }
  img {
    width: 6rem;
  }
  .btn-option {
    font-size: 1.2rem;
  }
  #logoHashmal {
    width: 3rem !important;
  }

  .login-title {
    font-size: 3.2rem !important;
  }
  .my-button {
    font-weight: 500;
    font-size: 1rem;
  }
}
